<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p></p>
<p>
<% form_for :post, @meterParse, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %> 
  <%= f.text_field :title %>
  <%= f.text_area :body, :size => "60x12" %> 
  <%= submit_tag "Create" %> 
<% end %>



</p>


